


<h3> Anmeldung </h3>

<form action='/users/create' method='POST'>
  <p>E-Mail</p>
  <input type="text" name="email" />

  <p>Password</p>
  <input type="password" name="password" />
  <input type="submit" />
</form>